conda install pytorch==2.2.1 torchvision==0.17.1 torchaudio==2.2.1 pytorch-cuda=11.8 -c pytorch -c nvidia - (https://pytorch.org/get-started/previous-versions/)
python -m pip install lightning
pip install tensorboard


pip install soundfile
python -m pip install scipy
pip install scikit-learn
pip install pandas
pip install tqdm
pip install librosa
python -m pip install -U matplotlib

git push origin master
source ~/miniforge3/bin/activate
source ~/venv-metal/bin/activate
conda remove -n ENV_NAME --all


------------------tensorboard bug fixing----------------
pip uninstall protobuf
pip install protobuf==4.25